<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h5 ng-class="ctrl.state.settings.defaults.cssClassModalTitle" id="myModalLabel" ng-bind="ctrl.state.modal.title || 'Add Trip'"></h5>
</div>
<form name="standardForm" ng-submit="ctrl.saveTrip(standardForm.$valid)" class="form-horizontal" novalidate ng-if="!ctrl.state.isNull && !ctrl.state.noSettings">
  <div class="modal-body">
    <section ng-include="'components/partials/messages-new.tpl.html'" ng-if="ctrl.state.status.errorAdd"></section>
    <div class="row row-flex row-flex-wrap">
        <div class="flex-col col-sm-8">
          <div class="form-group">
            <label for="tripVehicle" class="col-sm-4">Vehicle</label>
            <div class="col-sm-8">
              <div class="loading text-center" ng-show="ctrl.state.status.isLoadingVehicle">
                <i ng-class="ctrl.state.settings.defaults.cssClassLoading"></i>
                <span class="sr-only">Loading...</span>
              </div>
              <span ng-if="ctrl.data.vehicle.length == 0" class="text-danger">{{::ctrl.state.settings.component.defaults.message.notFound}}</span>
              <select name="tripVehicle" id="tripVehicle" class="form-control text-uppercase" ng-model="ctrl.data.form.tripVehicle" required
                ng-options="vehicle.id as vehicle.vehiclePlate + ' - ' + vehicle.vehicleDescription for vehicle in ctrl.data.vehicle | orderBy:'vehicleDescription'" ng-disabled="ctrl.data.vehicle == 0">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="tripDate" class="col-sm-4">Date</label>
            <div class="col-sm-8">
              <input type="text" name="tripDate" id="tripDate" class="form-control" ng-model="ctrl.data.form.tripDate" calendar required autocomplete="off"/>
            </div>
          </div>
          <div class="form-group">
            <label for="tripDistance" class="col-sm-4">Distance</label>
            <div class="col-sm-8">
              <input type="text" name="tripDistance" id="tripDistance" class="form-control" ng-model="ctrl.data.form.tripDistance" format="number" required autocomplete="off"/>
            </div>
          </div>
        </div>
        <div class="flex-col col-sm-4 text-center content-center">
          <div class="text-center">
            <div class="icon-defaults"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></div>
          </div>
          <div class="padding-top-bottom"><h4>"Make sure to get enough sleep, and do your best to achieve your goals!"</h4></div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Insert</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
