<div class="container-fluid trip" ng-controller="TripCtrl as ctrl">
  <div class="row fixed-row" ng-include src="'components/top/top-view-new.html'"></div>
  <div class="row">
    <div class="col-sm-12">
      <section ng-include="'components/partials/messages.tpl.html'" ng-if="ctrl.status.errorView"></section>
      <section ng-show="!ctrl.status.noSettings">
        <div class="loading text-center" ng-show="ctrl.status.isLoading">
          <i ng-class="ctrl.settings.defaults.cssClassLoading"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="flex-wrap content-start switchViewButton">
              <div class="flex-wrap-item content-center align-center text-uppercase switchLabel">
                  <span ng-class="{ 'view-selected': ctrl.switchAlternate == 'calendar' }">{{::ctrl.state.switchBtn.calendar}}</span>
              </div>
              <div class="flex-wrap-item content-center align-center">
                <span class="toggle-bg toggle-alternate on">
                  <input type="radio" name="toggle" value="calendar" ng-model="ctrl.switchAlternate" ng-click="changeView('tripsView','calendar')">
                  <input type="radio" name="toggle" value="list" ng-model="ctrl.switchAlternate" ng-click="changeView('tripsView','list')">
                  <span class="switch {{ctrl.switchAlternate}}"></span>
                </span>
              </div>
              <div class="flex-wrap-item content-center align-center text-uppercase switchLabel">
                <span ng-class="{ 'view-selected': ctrl.switchAlternate == 'list' }">{{::ctrl.state.switchBtn.list}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" ng-if="ctrl.switchAlternate == 'list'">
            <div class="row select-period">
              <div class="col-xs-12 col-md-6 col-md-push-3">
                <div class="padding-bottom text-center">
                  <a class="btn btn-default" ng-click="previous()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                  <a class="btn btn-default btn-date" ng-click="currentMonth()" title="Current Month"><i class="fa fa-calendar"></i> {{::displayCurrentMonth}}</a>
                  <a class="btn btn-default" ng-click="next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div ng-if="trips.length == 0">
              <h3 class="alert alert-danger text-center">{{::ctrl.state.settings.component.defaults.message.notFound}}</h3>
            </div>
            <div ng-if="trips.length">
              <div id="no-more-tables">
                <table class="table table-responsive table-hover">
                  <thead>
                    <tr>
                      <th>Vehicle</th>
                      <th>Date</th>
                      <th class="text-right">Distance (KM) </th>
                      <th class="text-center">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in trips | orderBy: '-tripDate'">
                      <td data-title="Vehicle">{{::item.vehiclePlate}} - {{::item.vehicleDescription}}</td>
                      <td data-title="Date">{{::item.tripDate | date: 'dd/MM/yyyy'}}</td>
                      <td class="text-right" data-title="Distance (KM)">{{::item.tripDistance | number:1}}</td>
                      <td data-title="Remove" class="text-center">
                        <button class="btn btn-link" title="Delete" ng-click="ctrl.modalDeleteRecord(item)"><i class="fa fa-trash fa-lg icon-delete"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"><strong>Total</strong></td>
                      <td colspan="1" class="text-right"><strong ng-bind="trips | sumColumns: 'tripDistance' : '' : 'trip' | number:1"></strong></td>
                      <td colspan="1"></td>
                    </tr>
                    <!-- <tr>
                      <td colspan="6"><strong>Total Unpaid</strong></td>
                      <td colspan="2">$ <strong ng-bind="timesheets | sumColumns: 'timesheetTotal' : 'W' : 'timesheet' | number:2"></strong></td>
                      <td colspan="1"></td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12" ng-show="ctrl.switchAlternate == 'calendar'">
            <calendar-widget selected="day"></calendar-widget>
          </div>
        </div>
        <div ng-include src="'components/modal/modal-view-new.html'"></div>
      </section>
    </div>
  </div>
</div>
