<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger text-center" ng-show="settings.expenseType.defaults.isNull">
          <h3>{{::settings.expenseType.defaults.notFound.message}}</h3>
        </div>
        <div class="row" ng-show="!settings.expenseType.defaults.isNull">
          <div class="col-xs-6 col-sm-4"><input type="text" placeholder="Search..." ng-model="expenseType" class="search-input"></div>
          <div class="col-xs-6 col-sm-4 text-center"><span class="badge">{{data.length}}</span> records</div>
          <div class="col-xs-12 col-sm-4 text-right">
            <div ng-include="'components/partials/dropdown-rows.tpl.html'"></div>
          </div>
        </div>
        <div id="no-more-tables" ng-show="!settings.expenseType.defaults.isNull">
          <table class="table table-responsive table-hover">
            <thead>
              <tr>
                <th>Description</th>
                <th class="text-center">Active</th>
                <th class="text-center">Edit</th>
              </tr>
            </thead>
            <tbody class="table-cursor">
              <tr class="loading text-center" ng-show="settings.expenseType.defaults.isLoading">
                <td colspan="6">
                  <i ng-class="settings.defaults.cssClassLoading"></i>
                  <span class="sr-only">Loading...</span>
                </td>
              </tr>
              <tr ng-repeat="item in data | orderBy: 'expenseTypeDescription' | filter:expenseType | startFrom:currentPage * pageSize | limitTo:pageSize" ng-click="editExpenseType(item.id)">
                <td data-title="Description" class="text-uppercase">{{::item.expenseTypeDescription}}</td>
                <td data-title="Active"  class="text-center" ng-class="::item.expenseTypeIsActive == 1 ? settings.defaults.cssClassActive : settings.defaults.cssClassInactive">{{::item.expenseTypeIsActive == 1 ? "Yes" : "No"  }}</td>
                <td data-title="Edit"  class="text-center"><i class="fa fa-edit fa-lg"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" ng-show="!settings.expenseType.defaults.isNull">
          <div class="col-xs-5 text-right">
            <button ng-disabled="currentPage == 0" ng-click="scrollUp(); currentPage = currentPage - 1" class="btn btn-link btn-xs"><i class="fa fa-angle-left" aria-hidden="true"></i> prev</button>
          </div>
          <div class="col-xs-2 text-center">
            <span>Page {{currentPage + 1}} of {{numberOfPages()}}</span>
          </div>
          <div class="col-xs-5 text-left">
            <button ng-disabled="currentPage >= getData().length / pageSize - 1" ng-click="scrollUp(); currentPage = currentPage + 1" class="btn btn-link btn-xs">next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
