<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <section ng-include="'components/partials/messages.tpl.html'"></section>
        <section ng-if="!state.noSettings">
          <div class="row">
            <div class="col-xs-6 col-sm-4"><input type="text" placeholder="Search..." ng-model="expenseType" class="search-input"></div>
            <div class="col-xs-6 col-sm-4 text-center"><span class="badge">{{::pagination.rowCount}}</span> records</div>
            <div class="col-xs-12 col-sm-4 text-right">
              <div ng-include="'components/partials/dropdown-rows.tpl.html'"></div>
            </div>
          </div>
          <div id="no-more-tables">
            <table class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th>Description</th>
                  <th class="text-center">Active</th>
                  <th class="text-center">Edit</th>
                </tr>
              </thead>
              <tbody class="table-cursor">
                <tr class="loading text-center" ng-show="state.isLoading">
                  <td colspan="6">
                    <i ng-class="settings.defaults.cssClassLoading"></i>
                    <span class="sr-only">Loading...</span>
                  </td>
                </tr>
                <tr ng-repeat="item in data | orderBy: 'expenseTypeDescription' | filter:expenseType | limitTo:pagination.pageSize" ng-click="editExpenseType(item.id)">
                  <td data-title="Description" class="text-uppercase">{{::item.expenseTypeDescription}}</td>
                  <td data-title="Active"  class="text-center" ng-class="::item.expenseTypeIsActive == 1 ? settings.defaults.cssClassActive : settings.defaults.cssClassInactive">{{::item.expenseTypeIsActive == 1 ? "Yes" : "No"  }}</td>
                  <td data-title="Edit"  class="text-center"><i class="fa fa-edit fa-lg"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <section ng-include="'components/partials/pagination.tpl.html'"></section>
        </section>
      </div>
    </div>
  </div>
