.calendar {
  margin: auto;
  padding-bottom: 20px;

  .panel {
    padding-bottom: 30px;
  }
}
.calendar-header {
  padding-bottom: 10px;
  flex-basis: 14%;
}
.calendar-item {
  border: dotted 1px $colour-2-light;
  flex-basis: 14%;
  min-height: 80px;

  .day {
    font-size: 2.5rem;
  }

  .item {
    color: $mid-pink;
  }
  
  &.today {
    font-weight: 400;
    color: #fff;
    border: solid 1px $mid-pink;
    background-color: $mid-pink;

    .item {
      font-weight: 200;
      color: #fff;
    }
  }

  &.different-month {
    background-color: $light-gray;
    color: $dark-gray;
  }

  &.selected {
    border: solid 1px $colour-1-light;
    background-color: $colour-1-light;
  }

}
