.carousel-center {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -ms-center;
}
.carousel-indicators {
  top: 0;
  li {
    background-color: $mid-gray;
  }
  .active {
    background-color: $dark-orange;
  }
}
.carousel-inner {
  i {
    width: 100%;
    font-size: 20em;
    height: 100%;
    margin-top: 60px;
    padding: 60px 0;
  }
}