.data-maintenance {
  .view-selected {
    color: $mid-green;
  }
  .switchViewButton {
    .flex-wrap-item {
      min-width: 70px;
    }
    .switchLabel {
      color: $dark-gray;
    }
  }
  .table {
    .fa-lg {
      vertical-align: -36%;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .data-maintenance {
    .table {
      font-size: 1.0rem;

      .btn {
        font-size: 1.0rem;
      }
    }
  }
}
