.data-maintenance {
  .view-selected {
    color: $mid-green;
  }
  .switchViewButton {
    .flex-wrap-item {
      min-width: 70px;
    }
    .switchLabel {
      color: $dark-gray;
    }
  }
  .table {
    .fa-lg {
      vertical-align: -36%;
    }
  }
}