.flex-wrap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
}
.flex-wrap-item {
  flex: 0 0 auto;
  margin: 0px;
}
.content-start {
  display: flex;
  // align-items: flex-start;
  justify-content: flex-start;
}
.content-center {
  display: flex;
  // align-items: center;
  justify-content: center;
}
.content-end {
  display: flex;
  // align-items: flex-end;
  justify-content: flex-end;
}

@media (min-width: 767px) {
  .row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
  }
  .row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex: 0;
  }
  .flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
  }
  .flex-grow {
    display: flex;
  }
}
