<div class="feed">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="black-gradient clip-settings">Invest smarter</h1>
          <p>If you're planning to invest, being well prepared will improve your chances of success. Think about your investment goals and where you want to be in the future. Ideally you will have at least one financial goal in mind, however smart investors think about short, medium and long-term goals. Allocate a timeframe to achieve each goal.</p>
        </div>
        <div class="col-sm-12 text-right">
          <a class="cursor-pointer" ng-href="https://www.moneysmart.gov.au/investing/invest-smarter" target="_blank"><strong>Read more...</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
