<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger text-center" ng-if="data.isNull === true">
          <h3>{{::data.notFound}}</h3>
          <a class="text-capitalize" ng-href="{{data.url}}">Return to {{data.title}}</a>
        </div>
        <form ng-submit="updateBank()" class="form-horizontal" ng-if="data.isNull === false">
            <div ng-include src="'partials/top.html'"></div>
            <div class="form-group">
              <label for="email" class="col-sm-3">Description</label>
              <div class="col-sm-7">
                <input type="text" name="bankDescription" id="bankDescription" class="form-control" ng-model="data.bank.bankDescription">
              </div>
            </div>
            <div class="form-group">
              <label for="bankAccount" class="col-sm-3">Account</label>
              <div class="col-sm-7">
                <input type="text" name="bankAccount" id="bankAccount" class="form-control" ng-model="data.bank.bankAccount">
              </div>
            </div>
            <div class="form-group">
                <label for="bankIsActive" class="col-sm-3">Active</label>
                <div class="col-sm-7">
                  <input type="checkbox" name="bankIsActive" ng-model="data.bank.bankIsActive" ng-checked="data.bank.bankIsActive === 1">
                </div>
            </div>
            <div class="form-group">
              <label for="bankInitialBalance" class="col-sm-3">Initial Balance</label>
              <div class="col-sm-7">
                <input type="number" name="bankInitialBalance" id="bankInitialBalance" class="form-control" ng-model="data.bank.bankInitialBalance" step=".01" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="bankCurrentBalance" class="col-sm-3">Current Balance</label>
              <div class="col-sm-7">
                <input type="number" name="bankCurrentBalance" id="bankCurrentBalance" class="form-control" ng-model="data.bank.bankCurrentBalance" step=".01">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-4">
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </div>
          </form>                    
      </div>
    </div>
  </div>
  