<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div ng-include src="'partials/top.html'"></div>
        <div class="text-center select-period">
          <a ng-click="changePeriod('d')"><i class="fa fa-minus" aria-hidden="true"></i></a>
          <span>{{data.currentPeriod}}</span>
          <a ng-click="changePeriod('i')"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
        <div class="loading text-center" ng-show="data.isLoading">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span>Resume of the month:</span>
          </div>
          <div class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6" ng-show="data.isNull">
            <h3 class="alert alert-danger text-center">{{::data.notFound.message}}</h3>
          </div>
          <div class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6" ng-repeat="transaction in data.transactions">
            <div class="panel well panel-hover">
              <div class="panel-heading">
                <h3 class="panel-title text-uppercase">{{::transaction.transactionTypeDescription || 'Purchase'}}</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    $ {{::transaction.TotalAmountByTransactionType | number:2 }}
                  </div>
                  <div class="col-sm-6 text-right"><a class="panel-cursor" ng-href="">See details...</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
