<div ng-controller="MenuCtrl" class="nav-side-menu">
    <div class="brand">
      <span ng-if="!isAuthenticated()" class="navbar-logo text-center">
        <img ng-src="{{state.logo}}" alt="{{state.alt}}" title="{{state.title}}" width="{{state.width}}">
      </span>      
      <span ng-if="isAuthenticated()" class="navbar-avatar">
        <img ng-src="{{currentUser.picture || currentUser.gravatar}}">  {{currentUser.name || currentUser.email || currentUser.id}}
      </span>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" ng-if="isAuthenticated()" class="menu-content collapse out">
        <li><a href="/main={{state.year}}"><i class="fa fa-dashboard fa-lg"></i>Dashboard</a></li>
        <li data-toggle="collapse" data-target="#setup" class="collapsed">
            <a href="#"><i class="fa fa-cogs fa-lg"></i>Setup <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="setup">
            <li><a href="/all-banks/page=1&pageSize=12">Banks</a></li>
            <li><a href="/all-users/page=1&pageSize=12">Users</a></li>
            <li><a href="/all-expenses-type/page=1&pageSize=12">Expenses Type</a></li>
            <li><a href="/all-transactions-type/page=1&pageSize=12">Transactions Type</a></li>
            <li><a href="/populate-database">Populate DB</a></li>
        </ul>
        <ul>
          <li><a href="/transactions/from={{state.period.from}}&to={{state.period.to}}&transactions=all"><i class="fa fa-money fa-lg"></i>Transactions</a></li>
          <li><a href="/purchases/from={{state.period.from}}&to={{state.period.to}}&expenses=all"><i class="fa fa-shopping-cart fa-lg"></i>Purchases</a></li>
          <li><a href="/account"><i class="fa fa-user fa-lg"></i>Profile</a></li>
          <li><a href="/login" ng-click="logout()"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li>
        </ul>
      </ul>
      <ul id="menu-content" ng-if="!isAuthenticated()" class="menu-content collapse out text-center">
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </div>
</div>