<div class="container-fluid" ng-if="isAuthenticated()">
  <div class="row fixed-row" ng-include src="'components/top/top-view.html'"></div>
  <div class="row">
    <div class="col-sm-12">
      <section ng-include="'components/partials/messages.tpl.html'"></section>
      <section ng-if="!state.status.noSettings">
        <div class="row select-period">
          <div class="col-xs-12">
            <div class="padding-bottom text-center">
              <a class="btn btn-default" ng-click="changePeriod('d')"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
              <a class="btn btn-default"> {{state.params.year}} </a>
              <a class="btn btn-default" ng-click="changePeriod('i')"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="badge dashboard">Transactions:</span>
            <div class="loading text-center" ng-show="state.status.isLoading">
              <i ng-class="state.settings.defaults.cssClassLoading"></i>
              <span class="sr-only">Loading...</span>
            </div>
            <div class="row">
              <div class="col-sm-12" ng-show="state.status.transactionIsNull">
                <h3 class="alert alert-danger text-center">{{::state.settings.component.defaults.message.notFound}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" ng-show="!state.status.transactionIsNull">
                <canvas id="transactionChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="badge dashboard">Incomes & Outcomes:</span>
            <div class="loading text-center" ng-show="state.status.isLoading">
              <i ng-class="state.settings.defaults.cssClassLoading"></i>
              <span class="sr-only">Loading...</span>
            </div>
            <div class="row">
              <div class="col-sm-12" ng-show="state.status.purchaseIsNull">
                  <h3 class="alert alert-danger text-center">{{::state.settings.component.defaults.message.notFound}}</h3>
              </div>
              <div class="col-md-12" ng-show="!state.status.purchaseIsNull">
                <canvas id="purchaseChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <span class="badge dashboard">Day by day:</span>
            <div class="row">
              <div class="col-sm-12" ng-show="state.status.transactionIsNull">
                <h3 class="alert alert-danger text-center">{{::state.settings.component.defaults.message.notFound}}</h3>
              </div>
              <div class="col-md-12" ng-show="!state.status.transactionIsNull">
                <canvas id="dailyChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="badge dashboard">Feed:</span>
            <section ng-include src="'components/feed/feed-view.html'"></section>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <span class="badge dashboard">Stats:</span>
            <div class="row">
              <div class="col-md-12" ng-show="!state.status.isSpentMost && !state.status.isTimesheet && !state.status.isBank">
                <h3 class="alert alert-danger text-center">{{::state.settings.component.defaults.message.notFound}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br>
                <table class="table table-responsive table-striped">
                  <tbody>
                    <tr ng-show="state.status.isSpentMost">
                      <td>You have spent the most on <strong>{{::state.data.spentMostExpensiveType.expenseTypeDescription}}</strong> for {{::state.params.year}}</td>
                      <td><strong>${{::state.data.spentMostExpensiveType.TotalAmountByExpensiveType | number:2}}</strong></td>
                    </tr>
                    <tr ng-show="state.status.isTimesheet">
                      <td>Worked hours recorded for {{::state.params.year}}</td>
                      <td><strong ng-bind="state.data.timesheetTotalHours"></strong></td>
                    </tr>
                    <tr ng-show="state.status.isBank">
                      <td>Total in Cash</td>
                      <td><strong>${{::state.data.banks.totalCash | number:2}}</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <span class="badge dashboard">Banks:</span>
            <div class="row">
              <div class="col-sm-12" ng-show="!state.status.isBank">
                <h3 class="alert alert-danger text-center">{{::state.settings.component.defaults.message.notFound}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" ng-show="state.status.isBank">
                <canvas id="bankChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </section>
    </div>
  </div>
</div>
