<div class="container-fluid login-container">
  <div class="row">
    <div class="col-sm-push-3 col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <div ng-if="messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
          </div>
          <form ng-submit="login()">
            <legend>Log In</legend>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="Email" class="form-control" ng-model="user.email" autofocus>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" placeholder="Password" class="form-control" ng-model="user.password">
            </div>
            <div class="form-group"><a class="btn btn-link btn-xs" ng-click="goToLocation('forgot')"><strong>Forgot your password?</strong></a></div>
            <button type="submit" class="btn btn-success">Log in</button>
          </form>
          <!-- <div class="hr-title"><span>or</span></div>
          <div class="btn-toolbar text-center">
            <button class="btn btn-google" ng-click="authenticate('google')">Sign in with Google</button>
          </div> -->
        </div>
      </div>
      <p class="text-center">
        Don't have an account? <a class="btn btn-link btn-xs" ng-click="goToLocation('signup')"><strong>Sign up</a></button>
      </p>
    </div>
  </div>
</div>
