<div ng-controller="FeedCtrl">
  <div class="feed">
    <div class="row row-flex row-flex-wrap">
      <div class="col-md-6">
        <div class="flex-col text-center content-center">
          <span class="icon-educational"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
          <h3 class="panel-title">Did you know...</h3>
        </div>
      </div>
      <div class="col-md-6 feed-content">
        <div class="flex-col">
          <div class="row">
            <div class="col-sm-12">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-sm-12 text-right">
              <a class="cursor-pointer">Read more...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
