<div ng-controller="FeedCtrl">
  <div class="feed">
    <div class="row row-flex row-flex-wrap">
      <div class="col-md-6">
        <div class="flex-col text-center content-center">
          <span class="icon-educational"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
          <h3 class="panel-title">Did you know...</h3>
        </div>
      </div>
      <div class="col-md-6 feed-content">
        <div class="flex-col">
          <div class="row">
            <div class="col-sm-12">
              <h1>Invest smarter</h1>
              <p>If you're planning to invest, being well prepared will improve your chances of success. Think about your investment goals and where you want to be in the future. Ideally you will have at least one financial goal in mind, however smart investors think about short, medium and long-term goals. Allocate a timeframe to achieve each goal.</p>
            </div>
            <div class="col-sm-12 text-right">
              <a class="cursor-pointer" ng-href="https://www.moneysmart.gov.au/investing/invest-smarter" target="_blank">Read more...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
