<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger text-center" ng-if="settings.expenseType.defaults.isNull === true">
          <h3>{{::settings.expenseType.defaults.notFound.message}}</h3>
        </div>
        <div id="no-more-tables" ng-if="settings.expenseType.defaults.isNull === false">
          <table class="table table-responsive table-hover">
            <thead>
              <tr>
                <th><input type="text" placeholder="Search..." ng-model="expenseType" class="search-input"></th>
                <th class="text-center">Active</th>
                <th class="text-center">Edit</th>
              </tr>
            </thead>
            <tbody class="table-cursor">
              <tr class="loading text-center" ng-show="settings.expenseType.defaults.isLoading">
                <td colspan="6">
                  <i ng-class="settings.defaults.cssClassLoading"></i>
                  <span class="sr-only">Loading...</span>
                </td>
              </tr>
              <tr ng-repeat="item in data | orderBy: 'expenseTypeDescription' | filter:expenseType" ng-click="editExpenseType(item.id)">
                <td data-title="Expense Type" class="text-uppercase">{{::item.expenseTypeDescription}}</td>
                <td data-title="Active"  class="text-center" ng-class="::item.expenseTypeIsActive == 1 ? settings.defaults.cssClassActive : settings.defaults.cssClassInactive">{{::item.expenseTypeIsActive == 1 ? "Yes" : "No"  }}</td>
                <td data-title="Edit"  class="text-center"><i class="fa fa-edit fa-lg"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
