<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row padding-top-bottom select-period">
        <div class="col-xs-12 col-sm-4 col-sm-push-4">
          <div class="padding-bottom text-center">
            <a class="arrows" ng-click="changePeriod('d')"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <strong>{{data.currentPeriod}}</strong>
            <a class="arrows" ng-click="changePeriod('i')"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-sm-pull-4">
          <span>Resume of the month</span>
        </div>
        <div class="col-xs-6 col-sm-4 text-right">
          <a class="cursor-pointer" title="Search by period" data-toggle="modal" data-target="#myModal" ng-click="customSearch()">Custom search...</a>
        </div>
      </div>
      <div class="loading text-center" ng-show="data.isLoading">
        <i ng-class="settings.defaults.cssClassLoading"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <div class="row">
        <div class="col-sm-12" ng-show="data.isNull">
          <h3 class="alert alert-danger text-center">{{::data.notFound.message}}</h3>
        </div>
        <div class="col-sm-12" ng-repeat="(key, value) in data.transactionsByGroup">
          <div class="panel well box-shadow panel-hover">
            <div class="panel-heading">
              <h3 class="panel-title text-uppercase">{{::value.transactionTypeDescription || 'Purchase'}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <strong class="panel-body-content">$ {{::value.TotalAmountByTransactionType | number:2 }}</strong>
                </div>
                <div class="col-sm-6 text-right">
                  <a class="cursor-pointer" data-toggle="modal" data-target="#myModal" ng-click="seeDetails(key, value)">See details...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include src="'components/modal/modal-view.html'"></div>
