<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h5 ng-class="state.settings.defaults.cssClassModalTitle" id="myModalLabel" ng-bind="state.modal.title || 'Purchases'"></h5>
</div>
<div class="modal-body">
  <div id="no-more-tables">
    <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Bank</th>
            <th>Comments</th>
            <th class="text-right">Amount</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="item in data.transactionsDetails | orderBy: '-transactionDate'">
            <td data-title="Date">{{::item.transactionDate | date: "dd/MM/yyyy"}}</td>
            <td>
              <div class="text-uppercase" ng-switch="item.transactionLabel">
                <span ng-switch-when="C">Credit</span>
                <span ng-switch-when="D">Debit</span>
                <span ng-switch-default>Transfer</span>
              </div>
            </td>
            <td data-title="Bank">{{::item.bankDescription}}</td>
            <td data-title="Comments">{{::item.transactionComments}}</td>
            <td data-title="Amount" class="text-right">{{::item.transactionAmount | number: 2}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
