<div class="container-fluid timesheet" ng-controller="TimesheetCtrl as ctrl">
  <div class="row fixed-row" ng-include src="'components/top/top-view-new.html'"></div>
  <div class="row">
    <div class="col-sm-12">
      <section ng-include="'components/partials/messages.tpl.html'" ng-if="ctrl.status.errorView"></section>
      <section ng-show="!ctrl.status.noSettings">
        <div class="loading text-center" ng-show="ctrl.status.isLoading">
          <i ng-class="ctrl.settings.defaults.cssClassLoading"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="flex-wrap content-start switchViewButton">
              <div class="flex-wrap-item content-center align-center text-uppercase switchLabel">
                  <span ng-class="{ 'view-selected': ctrl.switchAlternate == 'calendar' }">{{::ctrl.state.switchBtn.calendar}}</span>
              </div>
              <div class="flex-wrap-item content-center align-center">
                <span class="toggle-bg toggle-alternate on">
                  <input type="radio" name="toggle" value="calendar" ng-model="ctrl.switchAlternate" ng-click="changeView('timesheetsView','calendar')">
                  <input type="radio" name="toggle" value="list" ng-model="ctrl.switchAlternate" ng-click="changeView('timesheetsView','list')">
                  <span class="switch {{ctrl.switchAlternate}}"></span>
                </span>
              </div>
              <div class="flex-wrap-item content-center align-center text-uppercase switchLabel">
                <span ng-class="{ 'view-selected': ctrl.switchAlternate == 'list' }">{{::ctrl.state.switchBtn.list}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" ng-if="ctrl.switchAlternate == 'list'">
            <div class="row select-period">
              <div class="col-xs-12 col-md-6 col-md-push-3">
                <div class="padding-bottom text-center">
                  <a class="btn btn-default" ng-click="previous()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                  <a class="btn btn-default btn-date" ng-click="currentMonth()" title="Current Month"><i class="fa fa-calendar"></i> {{::displayCurrentMonth}}</a>
                  <a class="btn btn-default" ng-click="next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-xs-12 col-md-3 col-md-push-3 text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ctrl.data.employerSelected.peopleDescription || "Select employer..." | limitTo: ctrl.state.settings.limitTo}} {{ctrl.data.employerSelected.peopleDescription.length > ctrl.state.settings.limitTo ? '...' : ''}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="text-center">
                      <a class="button cursor-pointer" ng-click="selectEmployer(undefined);">Clear selection</a>
                    </li>
                    <li class="text-center" ng-repeat="employer in ctrl.data.people">
                      <a class="button cursor-pointer" ng-click="selectEmployer(employer);">{{::employer.peopleDescription}}<i class="fa fa-check"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div ng-if="timesheets.length == 0">
              <h3 class="alert alert-danger text-center">{{::ctrl.state.settings.component.defaults.message.notFound}}</h3>
            </div>
            <div ng-if="timesheets.length">
              <div id="no-more-tables">
                <table class="table table-responsive table-hover">
                  <thead>
                    <tr>
                      <th>Employer</th>
                      <th>Date</th>
                      <th>Punch In</th>
                      <th>Break</th>
                      <th>Punch Out</th>
                      <th>Hours</th>
                      <th>Total</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in timesheets | orderBy: '-timesheetStartDate' | filter: ctrl.data.employerSelected.peopleDescription ">
                      <td data-title="Employer">{{::item.peopleDescription}}</td>
                      <td data-title="Date">{{::item.timesheetStartDate | date: 'dd/MM/yyyy'}}</td>
                      <td data-title="Punch In">{{::item.timesheetTimeIn}}</td>
                      <td data-title="Break">{{::item.timesheetTimeBreak || '00:00:00'}}</td>
                      <td data-title="Punch Out">{{::item.timesheetTimeOut}}</td>
                      <td data-title="Hours">{{::item.timesheetTotalHours}}</td>
                      <td data-title="Total">$ {{::item.timesheetTotal | number:2}}</td>
                      <td data-title="Status" class="text-center status">
                        <button class="btn" ng-click="ctrl.updateStatus(item);" ng-class="::item.timesheetStatus == 'P' ? ctrl.state.settings.defaults.cssPaid : ctrl.state.settings.defaults.cssUnpaid">
                          {{::item.timesheetStatus == 'P' ? 'Paid' : 'Unpaid'}}
                        </button>
                      </td>
                      <td data-title="Remove" class="text-center">
                        <button class="btn btn-link" title="Delete" ng-click="ctrl.modalDeleteRecord(item)"><i class="fa fa-trash fa-lg icon-delete"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="6"><strong>Total Paid</strong></td>
                      <td colspan="2">$ <strong ng-bind="timesheets | filter: ctrl.data.employerSelected.peopleDescription |  sumColumns: 'timesheetTotal' : 'P' : 'timesheet' | number:2"></strong></td>
                      <td colspan="1"></td>
                    </tr>
                    <tr>
                      <td colspan="6"><strong>Total Unpaid</strong></td>
                      <td colspan="2">$ <strong ng-bind="timesheets | filter: ctrl.data.employerSelected.peopleDescription | sumColumns: 'timesheetTotal' : 'W' : 'timesheet' | number:2"></strong></td>
                      <td colspan="1"></td>
                    </tr>
                    <tr>
                      <td colspan="6"><strong>Total Hours</strong></td>
                      <td colspan="2">
                        <strong ng-bind="timesheets | filter: ctrl.data.employerSelected.peopleDescription | totalHours: 'timesheets' "></strong>
                      </td>
                      <td colspan="1"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12" ng-show="ctrl.switchAlternate == 'calendar'">
            <calendar-widget selected="day"></calendar-widget>
          </div>
        </div>
        <div ng-include src="'components/modal/modal-view-new.html'"></div>
      </section>
    </div>
  </div>
</div>
