<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <section ng-include="'components/partials/messages.tpl.html'"></section>
      <section ng-if="!state.noSettings">
        <div class="row padding-top-bottom select-period">
          <section ng-include="'components/partials/period-slider.tpl.html'"></section>
          <div class="col-xs-6 col-sm-3 col-sm-pull-6">
            <span>Total: </span><span class="sum-amount">${{data.purchasesByGroup | sumColumns: 'value.TotalAmountByExpenseType' | number:2 }}</span>
          </div>
          <div class="col-xs-6 col-sm-3 text-right">
            <a class="cursor-pointer" title="Search by period" data-toggle="modal" data-target="#myModal" ng-click="customSearch()">Custom search...</a>
          </div>
        </div>
        <div class="loading text-center" ng-show="state.isLoading">
          <i ng-class="state.settings.defaults.cssClassLoading"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class="row">
          <div class="col-sm-12" ng-show="state.isNull">
            <h3 class="alert alert-danger text-center">{{::state.settings.purchases.defaults.message.notFound}}</h3>
          </div>
          <div class="col-sm-12" ng-repeat="(key, value) in data.purchasesByGroup">
            <div class="panel well box-shadow panel-hover">
              <div class="panel-heading">
                <h3 class="panel-title text-uppercase">{{::value.expenseTypeDescription || 'Purchase'}}</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    <strong class="panel-body-content">$ {{::value.TotalAmountByExpenseType | number:2 }}</strong>
                  </div>
                  <div class="col-sm-6 text-right">
                    <a class="cursor-pointer" data-toggle="modal" data-target="#myModal" ng-click="seeDetails(key, value)">See details...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-include src="'components/modal/modal.html'"></div>
      </section>
    </div>
  </div>
</div>
