<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title text-uppercase" id="myModalLabel" ng-bind="state.modal.title || 'Add Purchase'"></h4>
</div>
<form name="standardForm" ng-submit="savePurchase(standardForm.$valid)" class="form-horizontal" novalidate ng-if="!state.isNull && !state.noSettings">
  <div class="modal-body">
    <section ng-include="'components/partials/messages.tpl.html'" ng-if="state.status.errorAdd"></section>
    <div class="row row-flex row-flex-wrap">
        <div class="flex-col col-sm-9">
          <div class="form-group">
            <label for="purchaseDate" class="col-sm-3">Date</label>
            <div class="col-sm-9">
              <input type="text" name="purchaseDate" id="purchaseDate" class="form-control" ng-model='data.form.purchaseDate' calendar required/>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseBank" class="col-sm-3">Bank</label>
            <div class="col-sm-9">
              <div class="loading text-center" ng-show="state.status.isLoadingBanks">
                <i ng-class="state.settings.defaults.cssClassLoading"></i>
                <span class="sr-only">Loading...</span>
              </div>
              <span ng-if="data.banks.length == 0" class="text-danger">{{::state.settings.purchases.defaults.messages.notFound}}
                <a ng-href="{{::state.settings.purchases.newRecord.table.bank.url}}">({{state.settings.purchases.newRecord.table.bank.title}})</a>
              </span>
              <select name="purchaseBank" id="purchaseBank" class="form-control text-uppercase" ng-model="data.form.purchaseBank" required
                ng-options="bank.id as bank.bankDescription + ' - $' + bank.bankCurrentBalance for bank in data.banks" ng-disabled="data.banks.length == 0">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseExpenseId" class="col-sm-3">Expense</label>
            <div class="col-sm-9">
              <div class="loading text-center" ng-show="state.status.isLoadingExpensesType">
                <i ng-class="state.settings.defaults.cssClassLoading"></i>
                <span class="sr-only">Loading...</span>
              </div>
              <span ng-if="data.expensesType.length == 0" class="text-danger">{{::state.settings.purchases.defaults.messages.notFound}}
                <a ng-href="{{::state.settings.purchases.newRecord.table.expenseType.url}}">({{state.settings.purchases.newRecord.table.expenseType.title}})</a>
              </span>
              <select name="purchaseExpenseId" id="purchaseExpenseId" class="form-control text-uppercase" ng-model="data.form.purchaseExpenseId" required
                ng-options="expense.id as expense.expenseTypeDescription for expense in data.expensesType" ng-disabled="data.expensesType.length == 0">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseComments" class="col-sm-3">Comments</label>
            <div class="col-sm-9">
              <textarea name="purchaseComments" id="purchaseComments" class="form-control" ng-model="data.form.purchaseComments" rows="3" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="purchaseAmount" class="col-sm-3">Amount</label>
            <div class="col-sm-9">
              <input type="text" name="purchaseAmount" id="purchaseAmount" class="form-control" ng-model="data.form.purchaseAmount" format="number" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9  text-right">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
        <div class="flex-col col-sm-3 text-center content-center">
          <div class="text-center icon-educational">
            <div><i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
  </div>
</form>
