<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 ng-class="state.settings.defaults.cssClassModalTitle" id="myModalLabel" ng-bind="state.modal.title || 'Purchases'"></h5>
</div>
<div class="modal-body">
  <div id="no-more-tables">
    <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>Details</th>
            <th>Location</th>
            <th class="text-right">Amount</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="item in data.purchasesDetails | orderBy: '-purchaseDate'">
            <td data-title="Details">
              <div>{{::item.purchaseDate | date: "dd/MM/yyyy"}}</div>
              <div>{{::item.purchaseComments}}</div>
              <strong>Debit from: {{::item.bankDescription}}</strong>
            </td>
            <td data-title="Location">{{::item.purchaseAddress}}</td>
            <td data-title="Amount" class="text-right">{{::item.purchaseAmount | number: 2}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
