<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div ng-if="settings.transactions.defaults.messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in settings.transactions.defaults.messages.error">{{error.msg}}</div>
        </div>
        <div ng-if="settings.transactions.defaults.messages.success" role="alert" class="alert alert-success">
          <div ng-repeat="success in settings.transactions.defaults.messages.success">{{success.msg}}</div>
        </div>
        <form name="standardForm" ng-submit="saveTransaction(standardForm.$valid)" class="form-horizontal" ng-if="settings.transactions.defaults.isNull === false" novalidate>
          <div class="form-group">
            <label for="transactionDate" class="col-sm-3">Date</label>
            <div class="col-sm-7">
              <input type="text" name="transactionDate" id="transactionDate" class="form-control" ng-model='form.transactionDate' calendar required/>
            </div>
          </div>
          <div class="form-group">
            <label for="transactionType" class="col-sm-3">Action</label>
            <div class="col-sm-7">
                <span ng-if="transactionsType.length == 0" class="text-danger">{{::settings.transactions.defaults.notFound.message}}
                  <a ng-href="{{::settings.transactions.defaults.notFound.transactionType.url}}">({{settings.transactions.defaults.notFound.transactionType.title}})</a>
                </span>
                <select name="transactionType" id="transactionType" class="form-control text-uppercase" ng-model="transactionTypeObj" required
                ng-options="type as type.transactionTypeDescription for type in transactionsType" ng-disabled="transactionsType.length == 0">
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="transactionFromBank">Bank </label><span> (from)</span>
            </div>
            <div class="col-sm-7">
              <span ng-if="banks.length == 0" class="text-danger">{{::settings.transactions.defaults.notFound.message}}
                <a ng-href="{{::settings.transactions.defaults.notFound.bank.url}}">({{settings.transactions.defaults.notFound.bank.title}})</a>
              </span>
              <select name="transactionFromBank" id="transactionFromBank" class="form-control text-uppercase" ng-model="form.transactionFromBank" required
                ng-options="bank.id as bank.bankDescription + ' - $' + bank.bankCurrentBalance for bank in banks" ng-disabled="banks.length == 0">
              </select>
            </div>
          </div>
          <div class="form-group" ng-if="transactionTypeObj.transactionTypeAction == 'T'">
            <div class="col-sm-3">
              <label for="transactionToBank">Bank </label><span> (to)</span>
            </div>            
            <div class="col-sm-7">
              <span ng-if="banks.length == 0" class="text-danger">{{:: settings.transactions.defaults.notFound.message}}
                <a ng-href="{{::settings.transactions.defaults.notFound.bank.url}}">({{settings.transactions.defaults.notFound.bank.title}})</a>
              </span>
              <select name="transactionToBank" id="transactionToBank" class="form-control text-uppercase" ng-model="form.transactionToBank" required
                ng-options="bank.id as bank.bankDescription + ' - $' + bank.bankCurrentBalance for bank in banks" ng-disabled="banks.length == 0">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="transactionComments" class="col-sm-3">Comments</label>
            <div class="col-sm-7">
              <textarea name="transactionComments" id="transactionComments" class="form-control" ng-model="form.transactionComments" rows="3" required
                ng-if="transactionTypeObj.transactionTypeAction == 'T' ? form.transactionComments = checkTransactionTypeAction(transactionTypeObj) : this"
                ng-disabled="transactionTypeObj.transactionTypeAction == 'T'"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="transactionAmount" class="col-sm-3">Amount</label>
            <div class="col-sm-7">
              <input type="text" name="transactionAmount" id="transactionAmount" class="form-control" ng-model="form.transactionAmount" format="number" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
