<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title text-uppercase" id="myModalLabel" ng-bind="data.modal.title || 'Purchase'"></h4>
</div>
<form name="standardForm" ng-submit="customSearchForm(standardForm.$valid)" class="form-horizontal">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-9">
        <div class="form-group">
          <label for="dateStart" class="col-sm-3">Start Date</label>
          <div class="col-sm-9">
            <input type="text" name="dateStart" id="dateStart" class="form-control" ng-model='data.customSearch.from' calendar required/>
          </div>
        </div>
        <div class="form-group">
          <label for="dateEnd" class="col-sm-3">End Date</label>
          <div class="col-sm-9">
            <input type="text" name="dateEnd" id="dateEnd" class="form-control" ng-model='data.customSearch.to' calendar required/>
          </div>
        </div>
        <div class="form-group">
          <label for="transactionType" class="col-sm-3">Expense Type</label>
          <div class="col-sm-9">
            <input type="checkbox" name="purchasesActive" id="purchasesActive" ng-true-value="1" ng-false-value="0" ng-model='data.customSearch.active'> Active
            <select name="purchasesMultipleSelect" id="transactionType" class="form-control text-uppercase" ng-model="data.customSearch.expenseType" multiple
            ng-options="type.id as type.expenseTypeDescription for type in data.expensesType | orderBy:'expenseTypeDescription' | filter:{expenseTypeIsActive: data.customSearch.active}">
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="text-center icon-educational">
          <div><i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i></div>
          <div class="padding-top-bottom">Educational Ads...</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" id="closeModal" class="btn btn-primary">Search</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
