<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger text-center" ng-if="data.isNull === true">
          <h3>{{::data.notFound.message}}</h3>
          <a class="text-capitalize" ng-href="{{data.notFound.url}}">Return to {{data.notFound.title}}</a>
        </div>
        <div ng-if="data.messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in data.messages.error">{{error.msg}}</div>
        </div>
        <div ng-if="data.messages.success" role="alert" class="alert alert-success">
          <div ng-repeat="success in data.messages.success">{{success.msg}}</div>
        </div>
        <form name="standardForm" ng-submit="updatePeople(standardForm.$valid)" class="form-horizontal" ng-if="data.isNull === false">
          <div class="form-group">
            <label for="peopleDescription" class="col-sm-3">Description</label>
            <div class="col-sm-7">
              <input type="text" name="peopleDescription" id="peopleDescription" class="form-control" ng-model="data.people.peopleDescription" required>
            </div>
          </div>
          <div class="form-group">
            <label for="peopleRates" class="col-sm-3">Rate</label>
            <div class="col-sm-7">
              <input type="text" name="peopleRates" id="peopleRates" class="form-control" ng-model="data.people.peopleRates" format="number">
            </div>
          </div>
          <div class="form-group">
            <label for="peopleIsActive" class="col-sm-3">Active</label>
            <div class="col-sm-7">
              <input type="checkbox" name="peopleIsActive" ng-model="data.people.peopleIsActive" ng-checked="data.people.peopleIsActive === 1" ng-true-value="1" ng-false-value="0">
            </div>
          </div>
          <div class="form-group">
            <label for="peopleType" class="col-sm-3">Type</label>
            <div class="col-sm-7">
              <select name="peopleType" id="peopleType" class="form-control" ng-model="data.people.peopleType" required
                ng-options="type.value as type.description for type in data.typeAction">
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <button type="submit" class="btn btn-success">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
